*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: grid;
    place-items: center;
}
.blob{
    position: relative;
    width: 300px;
    height: 300px;
    /* background-color: aquamarine; */
    display: grid;
    place-items: center;
    place-content: center;

}
.blob span:nth-child(1){
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid #a9ff68;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transform: 0.5s;
    animation: rotate-blob 5s linear infinite;

}

.blob:hover span:nth-child(1){
    background: #122ae7 ;
    border: none;

}
.blob span:nth-child(2){
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid #a9ff68;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: rotate-blob 4s linear infinite;
}

.blob:hover span:nth-child(2){
    background: #45e21a;
    border: none;
}

.blob span:nth-child(3){
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid #a9ff68;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: rotate-blob2 10s linear infinite;
}
.blob:hover span:nth-child(3){
    background: #be19cd;
    border: none;
}


.blob span:nth-child(4){
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 40px;
    margin-left: 70px;
    width: 150px;
    height: 200px;
    border: 2px solid #e05f0f;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.2s;
    animation: rotate-blob2 3s linear infinite;
}

.blob:hover span:nth-child(4){
    background: #17d802;
    border: none;
}


@keyframes rotate-blob{
    0%{
        transform: rotate(0deg);

    }

    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotate-blob2{
    0%{
        transform: rotate(360deg);

    }
    100%{
        transform: rotate(0deg);
    }
}

/* 3d toggle switch */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');	

:root {
  --sz: 10vmin;
  --on: #03A9F4;
  --of: #fff0;
  --gr: #666666;
  --tr: all 0.5s ease 0s;
  --lg: var(--of);
}	

* {
  box-sizing: border-box;
  transition: var(--tr);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #202837, #1f2425);
  background: linear-gradient(135deg, #1c232f, #1b212f, #090c10);
  font-family: 'Roboto', Arial, Helvetica, serif;
}

body:before, body:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    repeating-conic-gradient(#0002 0.000095%, #fff0 .0005%, #fff0 .005%, #fff0 .0005%), 
    repeating-conic-gradient(#0002 0.00001%, #fff0 .00009%, #fff0 .00075%, #fff0 .000025%);
  opacity: 0.75;
  filter: blur(0.75px);
}

.content {
  position: relative;
  width: calc(var(--sz) * 4);
  height: calc(var(--sz) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  display: none;
}

label[for=btn] {
  position: absolute;
  width: calc(var(--sz) * 4);
  height: calc(var(--sz) * 2);
  background: linear-gradient(0deg, #121720, #0d1217);
  border-radius: var(--sz);
  box-shadow: 0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0006, 0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #0b0b10, 0 0px calc(var(--sz) / 10) calc(var(--sz) / 50) #b9e1ff88, 0 -4px calc(var(--sz) / 5) calc(var(--sz) / 50) #15182fcc;
}	

.thumb {
  position: absolute;
  width: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
  height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
  top: calc(calc( var(--sz) / 10) + calc(var(--sz) / -20));
  left: calc(calc( var(--sz) / 10) + calc(var(--sz) / -30));
  background: 
    radial-gradient(circle at 48% 50%, #fff0 calc(var(--sz) / 1.05), var(--lg) calc(var(--sz) / 0.99) ), 
    radial-gradient(circle at 40% 50%, #fff0 calc(var(--sz) / 0.95), var(--lg) calc(var(--sz) / 0.75)), 
    linear-gradient(180deg, #283349, #17212f);
  border-radius: var(--sz);
  box-shadow: 
    calc(var(--sz) / -50) calc(var(--sz) / 50) calc(var(--sz) / 30) 0 #fff2 inset, 
    0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #000c, 
    0 calc(var(--sz) / 3) calc(var(--sz) / 3) 0 #000d;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

#btn:checked + label .thumb {
  --lg: var(--on);
  transition: var(--tr);
  left: calc(calc(100% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3))) - calc(calc( var(--sz) / 10) + calc(var(--sz) / 5.75)));

}

.thumb:before {
  content: "";
  position: absolute;
  width: calc(var(--sz) / 0.5);
  height: calc(var(--sz) / 0.5);
  background: radial-gradient(circle at 45% 50%, #fff0 calc(var(--sz) / 1), var(--lg) calc(var(--sz) / 0.95));
  filter: blur(1px);
}

.light {
  position: absolute;
  width: calc(var(--sz) * 1);
  height: calc(var(--sz) / 1.75);
  right: calc(var(--sz) * -2.75);
  display: flex;
  justify-content: center;
  z-index: 1;
  background: #121212;
  position: relative;
  width: calc(var(--sz) / 1.75);
  height: calc(var(--sz) / 1.75);
  border-radius: var(--sz);
  box-shadow: 
    0 0px calc(var(--sz) / 50) calc(var(--sz) / 50) #0008, 
    0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #000, 
    0 2px calc(var(--sz) / 10) calc(var(--sz) / 500) #fff8, 
    0 0px calc(var(--sz) / 20) calc(var(--sz) / 25) #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--tr);
}

.light:before {
  content: "";
  transition: var(--tr);
  width: calc(100% - calc(var(--sz) / 15));
  height: calc(100% - calc(var(--sz) / 15));
  position: absolute;
  background: radial-gradient(circle at 50% 32%, #fff5 0 calc(var(--sz) / 20), #000 calc(var(--sz) / 3) calc(var(--sz) / 3));
  border-radius: var(--sz);
  box-shadow: 
    0 0 calc(var(--sz) / 3) 0 #003ef520, 
    0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) #003ef520 inset;
}

#btn:checked + label + .light:before {
  --lg: var(--on);
  transition: var(--tr);
  box-shadow: 
    0 0 calc(var(--sz) / 2.5) 0 var(--lg), 
    0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) var(--lg) inset, 
    0 calc(var(--sz) / -20) calc(var(--sz) / 10) calc(var(--sz) / 10) #000c inset;
  background: radial-gradient(circle at 50% 32%, #fff 0 calc(var(--sz) / 20), var(--lg) calc(var(--sz) / 3) calc(var(--sz) / 3));
}
