*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
h2{
    position: relative;
    font-size: 6em;
    letter-spacing: 15px;
    color: aquamarine;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect:below 1px linear-gradient(transparent, white) ;
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color:rgb(58, 51, 74) ;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color:white ;
        text-shadow: 0 0 10px #bf60dc,
        0 0 20px #bf60dc,0 0 40px #bf60dc,0 0 80px #bf60dc,0 0 160px #bf60dc;
    }
}

a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: aqua;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #222c2e) ;
}

a:hover{
    background-color: rgb(91, 201, 214);
    color: rgb(33, 69, 69);
    box-shadow: 0 0 5px rgb(91, 201, 214) ,
    0 0 25px rgb(91, 201, 214) ,0 0 50px rgb(91, 201, 214) ,0 0 200px rgb(91, 201, 214) ;
}

a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgb(91, 201, 214));
    animation: animate1 2s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(100deg,transparent,rgb(91, 201, 214));
    animation: animate2 2s linear infinite;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    right: -100%;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(100deg,transparent,rgb(91, 201, 214));
    animation: animate3 2s linear infinite;animation-delay: 0.5s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(100deg,transparent,rgb(91, 201, 214));
    animation: animate4 2s linear infinite;animation-delay: 1.5s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

/* 3d toggle switch */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');	

:root {
  --sz: 10vmin;
  --on: #03A9F4;
  --of: #fff0;
  --gr: #666666;
  --tr: all 0.5s ease 0s;
  --lg: var(--of);
}	

* {
  box-sizing: border-box;
  transition: var(--tr);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #202837, #1f2425);
  background: linear-gradient(135deg, #1c232f, #1b212f, #090c10);
  font-family: 'Roboto', Arial, Helvetica, serif;
}

body:before, body:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    repeating-conic-gradient(#0002 0.000095%, #fff0 .0005%, #fff0 .005%, #fff0 .0005%), 
    repeating-conic-gradient(#0002 0.00001%, #fff0 .00009%, #fff0 .00075%, #fff0 .000025%);
  opacity: 0.75;
  filter: blur(0.75px);
}

.content {
  position: relative;
  width: calc(var(--sz) * 4);
  height: calc(var(--sz) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  display: none;
}

label[for=btn] {
  position: absolute;
  width: calc(var(--sz) * 4);
  height: calc(var(--sz) * 2);
  background: linear-gradient(0deg, #121720, #0d1217);
  border-radius: var(--sz);
  box-shadow: 0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0006, 0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #0b0b10, 0 0px calc(var(--sz) / 10) calc(var(--sz) / 50) #b9e1ff88, 0 -4px calc(var(--sz) / 5) calc(var(--sz) / 50) #15182fcc;
}	

.thumb {
  position: absolute;
  width: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
  height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
  top: calc(calc( var(--sz) / 10) + calc(var(--sz) / -20));
  left: calc(calc( var(--sz) / 10) + calc(var(--sz) / -30));
  background: 
    radial-gradient(circle at 48% 50%, #fff0 calc(var(--sz) / 1.05), var(--lg) calc(var(--sz) / 0.99) ), 
    radial-gradient(circle at 40% 50%, #fff0 calc(var(--sz) / 0.95), var(--lg) calc(var(--sz) / 0.75)), 
    linear-gradient(180deg, #283349, #17212f);
  border-radius: var(--sz);
  box-shadow: 
    calc(var(--sz) / -50) calc(var(--sz) / 50) calc(var(--sz) / 30) 0 #fff2 inset, 
    0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #000c, 
    0 calc(var(--sz) / 3) calc(var(--sz) / 3) 0 #000d;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

#btn:checked + label .thumb {
  --lg: var(--on);
  transition: var(--tr);
  left: calc(calc(100% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3))) - calc(calc( var(--sz) / 10) + calc(var(--sz) / 5.75)));

}

.thumb:before {
  content: "";
  position: absolute;
  width: calc(var(--sz) / 0.5);
  height: calc(var(--sz) / 0.5);
  background: radial-gradient(circle at 45% 50%, #fff0 calc(var(--sz) / 1), var(--lg) calc(var(--sz) / 0.95));
  filter: blur(1px);
}

.light {
  position: absolute;
  width: calc(var(--sz) * 1);
  height: calc(var(--sz) / 1.75);
  right: calc(var(--sz) * -2.75);
  display: flex;
  justify-content: center;
  z-index: 1;
  background: #121212;
  position: relative;
  width: calc(var(--sz) / 1.75);
  height: calc(var(--sz) / 1.75);
  border-radius: var(--sz);
  box-shadow: 
    0 0px calc(var(--sz) / 50) calc(var(--sz) / 50) #0008, 
    0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #000, 
    0 2px calc(var(--sz) / 10) calc(var(--sz) / 500) #fff8, 
    0 0px calc(var(--sz) / 20) calc(var(--sz) / 25) #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--tr);
}

.light:before {
  content: "";
  transition: var(--tr);
  width: calc(100% - calc(var(--sz) / 15));
  height: calc(100% - calc(var(--sz) / 15));
  position: absolute;
  background: radial-gradient(circle at 50% 32%, #fff5 0 calc(var(--sz) / 20), #000 calc(var(--sz) / 3) calc(var(--sz) / 3));
  border-radius: var(--sz);
  box-shadow: 
    0 0 calc(var(--sz) / 3) 0 #003ef520, 
    0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) #003ef520 inset;
}

#btn:checked + label + .light:before {
  --lg: var(--on);
  transition: var(--tr);
  box-shadow: 
    0 0 calc(var(--sz) / 2.5) 0 var(--lg), 
    0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) var(--lg) inset, 
    0 calc(var(--sz) / -20) calc(var(--sz) / 10) calc(var(--sz) / 10) #000c inset;
  background: radial-gradient(circle at 50% 32%, #fff 0 calc(var(--sz) / 20), var(--lg) calc(var(--sz) / 3) calc(var(--sz) / 3));
}